---
layout: default
---
{% include navheader.html %}

{% if site.show_services %} {% include services.html %} {% endif %}
{% if site.show_portfolio_grid %} {% include portfolio_grid.html %} {% endif %}
{% if site.show_about %} {% include about.html %} {% endif %}
{% if site.show_timeline %} {% include timeline.html %} {% endif %}
{% if site.show_team %} {% include team.html %} {% endif %}
{% if site.show_clients %} {% include clients.html %} {% endif %}
{% if site.show_contact %} {% include contact.html %} {% endif %}
